html {
    scroll-behavior: smooth;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #606060;
  }
  
  .logo {
    width: 140px;
  }

  .nav-bg-red {
    background-color: #ca0010;
    opacity: 0.9;
    color: white;
  }

/*color para la línea divisora entre las secciones*/

  .bg-line {
    background-color: #606060;
  }
  

  /*propiedades iconos*/
  /*Quise formar la expresión de "I Love videogames"*/

  .icon-color {
    color: white !important;
  }

  .bg-color-icon {
    background-color: #004CFF;
  }

  .bg-color-icon2 {
      background-color: #ca0010;
  }

  .bg-color-icon3 {
      background-color: #069330;
  }





  .bg-red {
      background-color: #ca0010;
  }


  footer {
      background-color: #ca0010;
  }


/* codigo googleado para cambiar el color de fondo de los tooltips*/

.tooltip-inner {
    background-color: #069330;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #069330 !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #069330 !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #069330 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #069330 !important;
}